<MudNavMenu>
    <div class="pa-4">
        <MudText Typo="Typo.h6" Color="Color.Primary">TorqERP</MudText>
    </div>

    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">
        Home
    </MudNavLink>

    <MudNavLink Href="counter" Icon="@Icons.Material.Filled.Add">
        Counter
    </MudNavLink>

    <MudNavLink Href="weather" Icon="@Icons.Material.Filled.Cloud">
        Weather
    </MudNavLink>

    <MudNavGroup Title="Administración" Icon="@Icons.Material.Filled.Settings" Expanded="false">
        <MudNavLink Href="users" Icon="@Icons.Material.Filled.People">Usuarios</MudNavLink>
        <MudNavLink Href="config" Icon="@Icons.Material.Filled.Build">Configuración</MudNavLink>
    </MudNavGroup>
</MudNavMenu>